* {
  /* border-top: 10px solid #1098ad; */
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/* PAGE SECTIONS */
body {
  color: #444;
  font-family: sans-serif;
  border-top: 10px solid #1098ad;
  position: relative;
  box-sizing: border-box;
}

.container {
  width: 800px;
  width: 90%;
  /* margin-left: auto;
  margin-right: auto; */
  margin: 0 auto;
}
