<!-- 
   ! 
-->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../style/nfig.css" />

    <title>Doc-note</title>
  </head>

  <body>
    <header>
      <h1>HTML Element</h1>
      <nav>
        <a href="../index.html"> home </a>
      </nav>
    </header>
    <!-- EMMMIT 

      (li>a)*3
      footer>(li>a)*3
    -->

    <!-- 
      h2.title$*3
     -->
    <h2 class="title1"></h2>
    <h2 class="title2"></h2>
    <h2 class="title3"></h2>

    <!-- 
      main>section.top+section.mid+section.botom 
    -->
    <main>
      <section class="top"></section>
      <section class="mid"></section>
      <section class="botom"></section>
    </main>

    <!-- 
      HTML Symbols Reference
    -->
    <div class="note">
      <p>
        HTML Symbols, Entities and ASCII Character Code ReferenceHTML Symbols,
        Entities and ASCII Character Code Reference
      </p>

      <a href="https://www.toptal.com/designers/htmlarrows/symbols/">symbols</a>

      <p>make &copy;</p>
      <p>&amp;</p>
    </div>
  </body>
</html>
